@import 'tailwindcss';
@font-face {
    font-family: 'rondal';
    src: url('./public/fonts/RONDAL-REGULAR.OTF') format('opentype'),
    url('./public/fonts/RONDAL-SEMIBOLD.OTF') format('opentype'),
}
body {
    background-color: #eae6da;
    color: #26201E;
    font-family: 'helvetica';
    text-decoration: none;
}